/* no styles or colours given yet. all colours, styles and fonts are placeholders. */


header a {
    color:black
}

header {
    position: absolute;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0 .5);
    z-index: 2;
    font-weight:200;  
  } 
  
  header ul { 
    background-color: #00171F;
    margin: 0;  
    padding: 0; 
    position: fixed;  
    top: 0; 
    right: 0; 
    list-style: none; 
    overflow: hidden;
    font-weight:500;
    width: 100%;
    height: 100%
}

header ul a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

/*header ul a:hover {
  background-color:black;
  color: white;
}*/

.logo{
  float: left;
  position: absolute;
  z-index: 4;
  padding-top: 8px;
}
.menu {
  clear: both;
  object-position: right top;
  height: 0;
  float: right;
  text-align: left;
}

.menu li {
  margin-left: 55px;
}

.menumargin {
  padding-top: 9em;
  }

.menu-icon{
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
  z-index: 3;
}

.nav-icon {
  background: #65DA8C;
  display: block;
  height: 4px;
  width: 40px;
  position: fixed;
  right: 25px; 
}

.nav-icon:before{
  background: #65DA8C;
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 13px;
}

.nav-icon:after{
  background: #65DA8C;
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -13px;
  }

header .menu-btn{
  opacity: 0;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 20px;
  height: 37px;
  width: 45px;
  z-index: 4;
  }

/*header .menu-btn:checked ~ .menu {
  min-height: 100%;
  }*/

header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
  } 

header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
  }

header .menu-btn:checked ~ .menu-icon .nav-icon:after{
 transform: rotate(45deg);
  top: 0;
  }
