@media screen and (max-width: 769px) {

  html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.menu h2{
  font-size: 20px;
  margin: 5px;
  }
  .menu-margin-bottom{
  padding-bottom: 50px; 
  }

  .menu ul{
    padding-left: 90px;
  }
    .hero {
      background: url(images/hero-mobile.png) no-repeat;
      z-index: 0;
      background-size:100% auto;
    }
  
    .hero-header {
      grid-column: 4/89;
      grid-row: 55/70;
    }
  
    .hero-text {
      grid-column: 4/89;
      grid-row: 67/89;
    }
  
    .hero .button-frame {
      margin-left: 20px;
    }
  
    .hero .button-frame .orange-button {
      margin-left: 20px;
    }
  
    .hero-specs {
      grid-column: 1/89;
      grid-row: 45/65;
    }
  
    .iconify {
      grid-column: 66/86;
      grid-row: 85/90;
    }
.speed{
    font-size: 1em;
    line-height: 100px;
}
.count {
    font-size: 24px;
}
.seconds{
    font-size: 24px;
    line-height: 2em;  
}

.info-text-two{
    word-wrap: break-word;
}

.foot-space{
    align-items: column;
}
.card-one {
  max-width: 100vw;
}

.card-two {
  max-width: 100vw;
}

.spec-picker-one {
max-width: 100vw;
font-size: 20px;
}

.spec-picker-two {
  max-width: 100vw;
  font-size: 20px;
}

.button-exterior-black{
  width: 33px;
  height: 33px;
  margin: 10px 10px 10px;

}

.button-exterior-white{
  width: 33px;
  height: 33px;
  margin: 10px 10px 10px 10px;
}

.button-exterior-orange{
  width: 33px;
  height: 33px;
  margin: 10px 10px 10px 10px;

}

.button-interior-black{
  width: 33px;
  height: 33px;
  margin: 10px 10px 10px;

}

.button-interior-white{
  width: 33px;
  height: 33px;
  margin: 10px 10px 10px 10px;
}

.button-interior-orange{
  width: 33px;
  height: 33px;
  margin: 10px 10px 10px 10px;

}

.driving-info {
  font-family: "Radwave Demo";
  color: #F8F7F4;
  display: inline-grid;
  font-size: 25px;
  display: block;
  width: 100vw;
  margin-left: 1em;
  margin-top: 2em;
}

.driving-info .green-font{
  display: block;
}
.info-text {
  color: #F8F7F4;
  display: inline-grid;
  font-size: 20px;
  width: 90vw;
  }

  .info-text-one{
    height: 428px;
    max-width: 100vw;
  }

  .info-text-two{
    word-wrap: break-word;
  }

  .card-one {
height: 550px;
  }
  
  .card-two {
    height: 550px;
  }

  .card-one img{
  width: 100vw;
}

.card-two img{
  width: 100vw;
}

.quote-mark{
  left: 20px;
  top: 270px;
}

.quote{
  bottom: 40px;
  left: 20px;
}

.info-text-two{
  max-width: 100vw; 
}

.text-two{
  line-height: 35px;
  padding: 65px 5px 0 5px;
  font-size: 20px;
}

.enviro-splash{
  max-width: 100vw;
}

.sign-up{
  height: 500px;
  margin-left: 0.5em;
}

.sign-up .email{
  box-shadow: 0 5px 5px #bdbcbb;
}
}