@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap");

@font-face {
  font-family: "Radwave Demo";
  src: url("fonts/RadwaveDemoRegular.woff2") format("woff2"),
    url("fonts/RadwaveDemoRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "Radwave Demo";
  font-size: 40px;
}

h2 {
  font-family: "Sora", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

p {
  font-family: "Sora", sans-serif;
  font-size: 16px;
}

.green-font{
  color: #65DA8C;
}
a{
  font-family: "Sora", sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
}


.button-frame{
  width: 135px;
  height: 40px;
  position: relative;
  border: 3px solid #00171F;
  top: -10px;
  left: -10px;
  
}

.button-frame .orange-button{
  font-family: 'Sora';
  font-weight: 600;
  color: white;
  height: 40px;
  width: 135px;
  position: absolute;
  background-color: #FF7517;
  margin: 7px;
  border: none;
}


/* herospecs styling */

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.hero{
  background: url(images/heroplaceholder.jpg) no-repeat;
  background-size: cover;
  z-index: 0;
  display: grid;

}

.hero-text{
  margin: 20em 3em 0 0;
  max-width: 500px;
  position: absolute;
  right: 0;
}

.hero-header
{
  margin: 12em 3em 0 0;
  max-width: 500px;
  position: absolute;
  right: 8em;
}

.hero-specs {
  display: grid;
  align-items: start;
  grid: row;
  border: solid;
  border-color: black;
}
.acceleration {
  height: 5em;
}
.speed {
  border-left: 50%;
  margin-left: 50px;
}
.count {
  animation: counter 5s alternate ease-in-out;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  padding: 1rem;
  animation-fill-mode: forwards;
  display: inline;
  padding-right: 10%;
  max-width: 200px;
}
.count::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 220;
  }
}
/* end of herospecs styling */



/* footer styling */

footer {
  background-color: #00171f;
  padding-left: 8%;
  line-height: 2.5;
}

.foot-title {
  width: 270px;
  height: 65px;
}
.foot-space {
  display: flex;
  align-items: row;
  justify-content: space-between;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 10%;
  color: white;
  padding-bottom: 5%;
}
.foot-section {
  padding: 0;
}

.foot-info {
  font-size: 32px;
  font-weight: 500;
}

.prize-info {
  line-height: 1.5;
  padding-left: 10%;
}

/* enf of foot styling  */