@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap");

@font-face {
  font-family: "Radwave Demo";
  src: url("fonts/RadwaveDemoRegular.woff2") format("woff2"),
    url("fonts/RadwaveDemoRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "Radwave Demo";
  font-size: 40px;
}

h2 {
  font-family: "Sora", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

p {
  font-family: "Sora", sans-serif;
  font-size: 16px;
}

.green-font {
  color: #65da8c;
}
a {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.button-frame {
  width: 135px;
  height: 40px;
  position: relative;
  border: 3px solid #00171f;
  top: -10px;
  left: -10px;
  cursor: pointer;
}

.button-frame .orange-button {
  font-family: "Sora";
  font-weight: 600;
  color: white;
  height: 40px;
  width: 135px;
  position: absolute;
  background-color: #ff7517;
  margin: 7px;
  border: none;
  cursor: pointer;
}

/* herospecs styling */

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.hero {
  background: url(images/heroplaceholder.jpg) no-repeat;
  background-size: 100vw;
  z-index: 0;
}

.hero-text {
  grid-column: 71/89;
  grid-row: 40/60;
}

.hero-header {
  grid-column: 65/89;
  grid-row: 30/35;
  letter-spacing: 3px;
}

.hero-specs {
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
  grid-column: 1/90;
  grid-row: 70/90;
}

.spec-container {
  flex: 0 100%;
  height: 100px;
  margin-bottom: 2%; /* (100-32*3)/2 */
}

.specs-heading {
  font-family: "Radwave Demo";
  font-size: 32px;
  top: 20px;
  left: 10px;
  display: inline;
  position: relative;
}

.spec-info {
  top: 20px;
  left: 10px;
  display: inline;
  position: relative;
}
.acceleration {
  height: 5em;
}
.speed {
  height: 5em;
}
.count {
  align-content: center;
  justify-content: center;
  animation: counter 5s alternate ease-in-out;
  counter-reset: num var(--num);
  animation-fill-mode: forwards;
  display: inline;
  max-width: 200px;
}
.count::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 220;
  }
}
/* end of herospecs styling */

.card-one {
  width: 100%;
  height: 350px;
  position: relative;
}
.card-two {
  width: 100%;
  height: 350px;
  position: relative;
}

.quote-mark {
  position: absolute;
  top: 5px;
  left: 350px;
  display: inline;
  color: #65da8c;
  font-size: 100px;
  margin: 0;
}
.quote {
  font-weight: 800;
  font-size: x-large;
  position: absolute;
  bottom: 90px;
  right: 60px;
  display: inline;
  width: 240px;
}

.one {
  width: 280px !important;
  right: 45px !important;
}

.source {
  position: absolute;
  bottom: 20px;
  right: 15px;
  display: inline;
}

.position {
  position: absolute;
  bottom: 5px;
  right: 15px;
  display: inline;
  font-size: small;
}
.driving-info {
  font-family: "Radwave Demo";
  color: white;
  font-weight: 800;
  font-size: 36px;
  position: absolute;
  display: inline;
  width: 40%;
  left: 35px;
}
.info-text {
  color: white;
  position: absolute;
  display: inline;
  width: 40%;
  left: 700px;
  padding: 20px;
}
.green-text {
  color: #65da8c;
}
/* footer styling */

footer {
  background-color: #00171f;
  padding-left: 8%;
  line-height: 2.5;
}

.foot-title {
  width: 270px;
  height: 65px;
  margin: 0;
}
.foot-space {
  display: flex;
  align-items: row;
  justify-content: space-between;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 10%;
  color: white;
  padding-bottom: 5%;
}
.foot-section {
  padding: 0;
}

.foot-info {
  font-size: 32px;
  font-weight: 500;
  margin-top: 0;
}

.prize-info {
  line-height: 1.5;
  padding-left: 10%;
  margin: 0;
  width: 25vh;
}
.button-frame-foot {
  width: 135px;
  height: 40px;
  position: relative;
  border: 3px solid #ffff;
  top: -10px;
  left: -10px;
  margin-left: 40px;
}

.button-frame-foot .orange-button {
  font-family: "Sora";
  font-weight: 600;
  color: white;
  height: 40px;
  width: 135px;
  position: absolute;
  background-color: #ff7517;
  margin: 7px;
  border: none;
}
/* enf of foot styling  */

/* bouncy arrows */

.arrow-down {
  height: 50px;
  width: 30px;
  grid-column: 85/90;
  grid-row: 73/90;
}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

/* end of bouncy arrows */
@media screen and (max-width: 1023px) {
  .hero-header {
    grid-column: 5/43;
    grid-row: 47/70;
  }

  .hero-text {
    grid-column: 5/43;
    grid-row: 60/70;
  }

  .hero .button-frame {
    margin-left: 20px;
  }

  .hero .button-frame .orange-button {
    margin-left: 20px;
  }

  .hero-specs {
    grid-column: 5/49;
    grid-row: 39/45;
  }

  .arrow-down {
    grid-column: 45/52;
    grid-row: 80/90;
  }
}

/* video */
video {
  height: 100%;
  width: 100%;
}
/* end video */

/* bike exterior color picker */

.button-exterior-black{
  background-color: black;
  border-style: none;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
  cursor:pointer
}

.button-exterior-white{
  background-color: white;
  border-style: none;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
  cursor:pointer
}

.button-exterior-orange{
  background-color: orange;
  border-style: none;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
  cursor:pointer
}

.bike-color{
position: relative;
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(11, 1fr);
max-width: 720px;
max-height: 720px;
}

.bike-color .bike-color-picker{
  grid-column: 4/7;
  grid-row: 11/11;
  z-index: 4;
  min-width: 200px;
}

.bike-color img{
  grid-column: 1/12;
  grid-row: 1/12;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1023px) {
  .bike-color .bike-color-picker{
    grid-row: 9/10;
  }
}

/*end bike exterior color picker /*
