body {
  margin: 0;
  font-family: "Sora";
  overflow-x: hidden;
  background-color: #FBFAF9;
}



.wrapper {
  display: grid;
  min-height: 0;
  min-width: 0;
  grid-template-areas:
    "a a a a a a a a a a a a"
    "u u u u u u u u u u u u"
    "b b b b b b b b b b b b"
    "c c c c c c c c c c c c"
    "d d d d d d d d d d d d"
    "e e e e e e e e e e e e"
    "f f f f f f f f f f f f"
    "g g g g g g g g g g g g"
    "h h h h h h h h h h h h"
    "i i i i i i i i i i i i"
    "j j j j j j j j j j j j"
    "k k k k k k k k k k k k"
    "l l l l l l l l l l l l"
    "m m m m m m m m m m m m"
    "n n n n n n n n n n n n"
    "o o o o o o o o o o o o"
    "p p p p p p p p p p p p"
    "q q q q q q q q q q q q";
}
header{
  position: absolute;
}
.hero {
  grid-area: a;
  height: 826px;
  display: grid;
  grid-template-columns: repeat(89, 1fr);
  grid-template-rows: repeat(89, 1fr);
}

.specs{
  grid-area: u;
}

.spec-one {
  grid-area: b;
  position: relative;
  z-index: 0;
  max-width: 768px;
}
.spec-two {
  grid-area: c;
  position: relative;
  z-index: 0;
}
.spec-three {
  grid-area: d;
  position: relative;
  z-index: 0;
}
.info-text-one {
  grid-area: f;
  background-color: #00171f;
  height: 399px;
  position: relative;
  z-index: 0;
}
.enviro-splash {
  grid-area: g;
  background: rgb(0,23,31);
  background: linear-gradient(180deg, rgba(0,23,31,1) 0%, rgba(0,23,31,1) 41%, rgba(251,250,249,1) 54%, rgba(251,250,249,1) 100%);
  position: relative;
  z-index: 0;
}

.card-one {
  grid-area: h;
  position: relative;
  z-index: 0;
}

.card-two {
  grid-area: i;
  position: relative;
  z-index: 0;
}

.info-text-two{
  grid-area: j;
  background-color: #00171f;
  height: 258px;
  text-align: center;
  line-height: 258px;
}

.spec-picker-one {
  grid-area: k;
  background: rgb(251,250,249);
  background: linear-gradient(180deg, rgba(251,250,249,1) 0%, rgba(251,250,249,1) 65%, rgba(0,23,31,1) 66%, rgba(0,23,31,1) 100%);
}

.spec-picker-two {
  grid-area: l;
  background: rgb(251,250,249);
  background: linear-gradient(180deg, rgba(251,250,249,1) 0%, rgba(251,250,249,1) 65%, rgba(0,23,31,1) 66%, rgba(0,23,31,1) 100%);
}

.sign-up {
  grid-area: n;
  height: 630px;
  z-index: 0;
}

.merch {
  grid-area: o;
  min-height: 620px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.6fr);      
}

footer {
  grid-area: q;
  z-index: 0;
}

@media screen and (min-width: 769px) {
  .wrapper {
    display: grid;
    justify-content: center;
    grid-auto-columns: 120px;
    grid-template-areas:
      "a a a a a a a a a a a a"
      "u u u u u u u u u u u u"
      "b b b b c c c c d d d d"
      "e e e e e e e e e e e e"
      "f f f f f f f f f f f f"
      "g g g g g g g g g g g g"
      "h h h h h h i i i i i i"
      "j j j j j j j j j j j j"
      "k k k k k k l l l l l l"
      "n n n n n n n n n n n n"
      "o o o o o o o o o o o o"
      "q q q q q q q q q q q q";
  }
  .merch {
    height: 819px;
    }

}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .wrapper {
    grid-auto-columns: 85px;
  }

.merch img{
  width: 100vw;
}

}
