body {
  margin: 0;
  font-family: "Sora";
  overflow-x: hidden;
  background-color: #FBFAF9;
}

  .wrapper {
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1440px));
  }



  .hero{
    display: grid;
    grid-template-columns: repeat(89, 1fr);
    grid-template-rows: repeat(89, 1fr);
    height: 100vh;
    max-height: 1024px;
    color: #00171f;
  }

  .hero picture {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: auto;
  }
  

.spec-one{

}






  /*

.wrapper {
  display: grid;
  min-height: 0;
  min-width: 0;
  grid-template-areas:
    "a a a a a a a a a a a a"
    "b b b b b b b b b b b b"
    "c c c c c c c c c c c c"
    "d d d d d d d d d d d d"
    "e e e e e e e e e e e e"
    "f f f f f f f f f f f f"
    "g g g g g g g g g g g g"
    "h h h h h h h h h h h h"
    "i i i i i i i i i i i i"
    "j j j j j j j j j j j j"
    "k k k k k k k k k k k k"
    "l l l l l l l l l l l l"
    "m m m m m m m m m m m m"
    "n n n n n n n n n n n n"
    "o o o o o o o o o o o o"
    "p p p p p p p p p p p p"
    "q q q q q q q q q q q q";
}

.hero {
  grid-area: a;
  height: 100vh;
  max-height: 1024px;
  display: grid;
  grid-template-columns: repeat(89, 1fr);
  grid-template-rows: repeat(89, 1fr);
}

.spec-one {
  grid-area: b;
  position: relative;
  z-index: -1;
  max-width: 768px;
}
.spec-two {
  grid-area: c;
  position: relative;
  z-index: -1;

}
.spec-three {
  grid-area: d;
  position: relative;
  z-index: -1;

}
.info-text-one {
  grid-area: f;
  background-color: #00171f;
  height: 399px;
  position: relative;
  z-index: -1;
}
.enviro-splash {
  grid-area: g;
  background: rgb(0,23,31);
  background: linear-gradient(180deg, rgba(0,23,31,1) 0%, rgba(0,23,31,1) 41%, rgba(251,250,249,1) 54%, rgba(251,250,249,1) 100%);
  position: relative;
  z-index: -1;
}

.card-one {
  grid-area: h;
  position: relative;
  z-index: -1;
}

.card-two {
  grid-area: i;
  position: relative;
  z-index: -1;

}

.info-text-two{
  grid-area: j;
  background-color: #00171f;
  height: 258px;
  text-align: center;
  line-height: 258px;
}

.spec-picker-one {
  grid-area: k;
  background-color: #00171f;

}

.spec-picker-two {
  grid-area: l;
  background-color: #00171f;
}

.sign-up {
  grid-area: n;
  display: grid;
  grid-auto-columns: 866px 574px;
}

.merch {
  grid-area: o;
  height: 669px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);      
}

footer {
  grid-area: q;
  position: relative;
  z-index: -1;
}

@media screen and (min-width: 769px) {
  .wrapper {
    display: grid;
    justify-content: center;
    grid-auto-columns: 120px;
    grid-template-areas:
      "a a a a a a a a a a a a"
      "b b b b c c c c d d d d"
      "e e e e e e e e e e e e"
      "f f f f f f f f f f f f"
      "g g g g g g g g g g g g"
      "h h h h h h i i i i i i"
      "j j j j j j j j j j j j"
      "k k k k k k l l l l l l"
      "n n n n n n n n n n n n"
      "o o o o o o o o o o o o"
      "p p p p p p p p p p p p"
      "q q q q q q q q q q q q";
  }
  .merch {
    grid-area: o;
    height: 819px;
    }
  }
