body{
    margin: 0;
    font-family: 'Sora';
    background-color: transparent;
    overflow-x: hidden; 
}
.wrapper{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-gap: 10px;
    grid-template-areas:
    "1 1 1 1 1 1 1 1 1 1 1 1"
    "a a a a a a a a a a a a"
    "b b b b b b b b b b b b"
    "c c c c c c c c c c c c"
    "d d d d d d d d d d d d"
    "e e e e e e e e e e e e"
    "f f f f f f f f f f f f"
    "g g g g g g g g g g g g"
    "h h h h h h h h h h h h"
    "i i i i i i i i i i i i"
    "j j j j j j j j j j j j"
    "k k k k k k k k k k k k"
    "m m m m m m m m m m m m"
    "l l l l l l l l l l l l"
    "n n n n n n n n n n n n"
    "o o o o o o o o o o o o"
    "p p p p p p p p p p p p"
}

header{
    grid-area: 1;
}
.hero{
  grid-area: a;
  background-color: cornflowerblue;
  height: 823px;
}

.spec-one {
    grid-area: b;
    background-color: burlywood;
    height: 40vh;
}
.spec-two {
    grid-area: c;
    background-color:darkgreen;
}
.spec-three{
    grid-area: d;
    background-color: darkorchid;
}
.info-text-one{
    grid-area: f;
    background-color: lightseagreen;
    height: 20vh;
}
.enviro-splash{
    grid-area: g;
    display: grid;
}

.card-one{
    grid-area: h;
    background-color: orange;
}

.card-two{
    grid-area: i;
    background-color: plum;
    height: 40vh;
}

.spec-picker-one{
grid-area: j;
background-color:powderblue;
}

.spec-picker-two{
    grid-area: k;
    background-color:rebeccapurple;
    height: 40vh;
}

.sign-up{
    grid-area: l;
    background-color: steelblue;
    height: 20vh;
}

.merch-small{
    grid-area: m;
    background-color:tomato;
}

.merch{
    grid-area: n;
    background-color: violet;
    height: 70vh;
}

.info-text-two{
    grid-area: o;
    background-color: orange;
    height: 20vh;
}

.foot-space{
    grid-area: p;
}

@media screen and (min-width:768px){
.wrapper{
    display: grid;
    height: 100vh;
    max-width: 2560px;
    grid-gap: 10px;
    grid-template-areas:
    "a a a a a a a a a a a a"
    "b b b b c c c c d d d d"
    "e e e e e e e e e e e e"
    "f f f f f f f f f f f f"
    "g g g g g g g g g g g g"
    "h h h h h h i i i i i i"
    "j j j j j j k k k k k k"
    "l l l l l l l m m m m m"
    "n n n n n n n n n n n n"
    "o o o o o o o o o o o o"
    "p p p p p p p p p p p p";
   }
}
